{% extends "base.html" %}
{% block title %}
  Benjamin Ellis
{% endblock %}
{% block maincontent %}

  <div>
  <h1>Benjamin Ellis</h1>
  </div>

  <hr>

  <h2>about me:</h2>
  <p>In my day to day I'm a backend engineer working in Rust at a stealth fintech startup.</p>
  <p>Outside of work I: </p>
  <ul>
    <li>write a lot more Rust (<a href="https://github.com/benjaminjellis/website">even this website is written in Rust</a>)</li>
    <li>dabble in some functional programming</li>
    <li>make ok pourover coffee</li>
    <li>lose many a chess game</li>
    <li>watch Arsenal</li>
  </ul>

  <h2>links:</h2>
  <ul>
    <li><a href="https://github.com/benjaminjellis">github</a></li>
    <li><a href="https://www.linkedin.com/in/benjamin-ellis-7420b1150/">linkedin</a></li>
    <li><a href="https://lichess.org/@/agnesmartinstan">lichess</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="https://bl00m.co.uk">my coffee blog: bl00m</a></li>
  </ul>

  <h2>current:</h2>
  <ul>
    <li>backend engineer (Rust) @ stealth fintech startup</li>
  </ul>

  <h2>previous:</h2>
  <ul>
    <li>data scientist @ Capgemini Invent</li>
    <li>financial engineer @ IHS Markit</li>
    <li>consultant @ EY</li>
  </ul>

  <h2>education:</h2>
  <ul>
    <li>University College London</li>
    <li>The University of Liverpool</li>
  </ul>
{% endblock %}

